.container{
  margin-left: 300px;
  position: relative;
  top: 10px;
  left: 40px;
  width: 60%;
  border: 2px solid white;
  background-color: aliceblue;
  background: rgba(0,0,0,0.4);
  padding-top: 50px;

}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.text {
  float: left;
  width: 75%;
  margin-top: 6px;
}
body {
 
  /* The image used */
  background-image: url("../public/tea.jpg");

  /* Full height */
  height: 100%;
  

  /* Center and scale the image nicely */
  background-repeat: repeat;
  background-size: cover;
  
 }

 .btn{
   padding-left: 150px;
   padding-right: 150px;
 }
/* .container-fluid{
  position:fixed;
} */

.sidebar {
  height: 100%;
  width: 280px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: green;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 1000px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.sidebar .nav-item{
  padding-left: 20px;
}

.nav-item{
  padding-bottom: 20px;
}
.img-fluid{
  height: 200px;
  width: 200px;

  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.col-sm-2{
  color: #ccc;
  font-weight: bold;
}
.custom-control-label{
  color: #ccc;
}

/* employee report */


.container2{
  margin-left: 280px;
  position: relative;
  top: 10px;
  width: 1300px;
  padding-right:200px;
  padding-left: 30px;
  border: 2px solid white;
  background-color: aliceblue;
  background: rgba(0,0,0,0.6);
  padding-top: 50px;
  color: #f1f1f1;
}

.container3{
  margin-left: 300px;
  position: relative;
  top: 40px;
  left: 40px;
}
.container4{
  margin-left: 280px;
  position: relative;
  top: 10px;
  width: 1200px;
  padding-right:200px;
  padding-left: 30px;
  border: 2px solid white;
  background-color: aliceblue;
  background: rgba(0,0,0,0.6);
  padding-top: 50px;
  color: #f1f1f1;
}
